backups
.smex-items
projectile-bookmarks.eld
ede-projects.el
layouts/
elpa
.ido.last
auto-saves
eshell
emacs-custom.el
semanticdb
session*
smex-items
irony
desktops
projectile.cache
.python-environments
init-local
lisp/local
anaconda-mode
url
