backups
.smex-items
projectile-bookmarks.eld
ede-projects.el
layouts/
elpa
.ido.last
auto-saves
session.10c48e9e8bcaa1271f150240628638363500000020830077
eshell
emacs-custom.el
semanticdb
session*
smex-items
irony
desktops
